@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap');

$sora: 'Sora', sans-serif;

$green: #6cad22;
$lightgreen:#d7e9c5;
$darkgreen: #303e29;